/*4x4 table with tech info*/
table {
    border-collapse: collapse;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th,
td {
    border: 1px solid #cecfd5;
    padding: 10px 15px;
    text-align: center;
}
tr:nth-child(even) {
    background: #f0f0f2;
}

img{
    width: auto;
    height: 50px;
}