/*3x4 table with youtube info*/
table {
    margin: 5%;
    border-collapse: collapse;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th,
td {
    border: 1px solid #cecfd5;
    padding: 10px 15px;
    text-align: center;
}
tr:nth-child(even) {
    background: #f0f0f2;
}
iframe{
    width: auto;
    height: auto;
}